.Navegador {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    
    li{
        padding: 0 5rem;
        a{
            color:white!important;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 25px;
        }
    }
    li:hover,li.active {
        background-color: rgba(0, 0, 0, .3);
        transition: .4s;
        }
        .nav .conteiner .navbar-brand img {
            width: 50%;
            }
            .navbar-brand{
                flex-direction: column;
                display: flex;
                width: 60%;
                align-items: center;
                margin:0;
            }
        }